#!/usr/bin/make -f

# Enable hardening build flags
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Include all dpkg-buildflags
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_configure:
	./configure --prefix=/usr --libdir=/lib/$(DEB_HOST_MULTIARCH) --datadir=/lib --with-types=all

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f config.mk

# Skip tests as there aren't any defined
override_dh_auto_test:
